@import url("tailwindcss");

@custom-variant dark ".dark &";

@plugin "tailwindcss-animate";

/* Custom root variables */
@theme {
  --color-nlc-blue: #00487b;
  --color-nlc-orange: #fe5d26;
  --color-nlc-coral: #fa516e;
  --color-nlc-nlc-blue: #00a896;
  --color-nlc-mint: #02c39a;
  --color-nlc-blue-lighter: color-mix(in srgb, #00487b 70%, white 30%);
  --color-techblack: color-mix(in srgb, #00487b 50%, black 70%);
  --color-techblacker: color-mix(in srgb, #00487b 40%, black 80%);
  --font-sans: "Questrial", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sans);
}

body {
  font-family: var(--font-sans);
  background: var(--color-nlc-blue);
}

.lead {
  font-family: var(--font-sans);
}

#theme-toggle .bi-moon-fill {
  transition: opacity 0.2s;
}

#theme-toggle .bi-brightness-high-fill {
  transition: opacity 0.2s;
}

.group:hover #theme-icon-sun {
  opacity: 0;
}

.group:hover #theme-icon-moon {
  display: block;
  opacity: 1;
}

.theme-toggle-icon {
  will-change: opacity, transform;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 1.35em;

  transition:
    opacity 0.3s,
    transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.theme-toggle-spin {
  animation: themeSpin 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes themeSpin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  60% {
    transform: translate(-50%, -50%) rotate(180deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.theme-auto-pulse {
  animation: autoPulse 1s cubic-bezier(0.4, 0, 0.2, 1) both;
}

@keyframes autoPulse {
  0% {
    box-shadow: 0 0 0 0 #60a5fa55;
  }

  70% {
    box-shadow: 0 0 0 0.5rem #60a5fa25;
  }

  100% {
    box-shadow: 0 0 0 0 #60a5fa00;
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-: var(--);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-: var(--sidebar-);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(100% 0 0deg);
  --foreground: oklch(13% 0.028 261.692deg);
  --card: oklch(100% 0 0deg);
  --card-foreground: oklch(13% 0.028 261.692deg);
  --popover: oklch(100% 0 0deg);
  --popover-foreground: oklch(13% 0.028 261.692deg);
  --primary: oklch(21% 0.034 264.665deg);
  --primary-foreground: oklch(98.5% 0.002 247.839deg);
  --secondary: oklch(96.7% 0.003 264.542deg);
  --secondary-foreground: oklch(21% 0.034 264.665deg);
  --muted: oklch(96.7% 0.003 264.542deg);
  --muted-foreground: oklch(55.1% 0.027 264.364deg);
  --accent: oklch(96.7% 0.003 264.542deg);
  --accent-foreground: oklch(21% 0.034 264.665deg);
  --destructive: oklch(57.7% 0.245 27.325deg);
  --: oklch(92.8% 0.006 264.531deg);
  --input: oklch(92.8% 0.006 264.531deg);
  --ring: oklch(70.7% 0.022 261.325deg);
  --chart-1: oklch(64.6% 0.222 41.116deg);
  --chart-2: oklch(60% 0.118 184.704deg);
  --chart-3: oklch(39.8% 0.07 227.392deg);
  --chart-4: oklch(82.8% 0.189 84.429deg);
  --chart-5: oklch(76.9% 0.188 70.08deg);
  --sidebar: oklch(98.5% 0.002 247.839deg);
  --sidebar-foreground: oklch(13% 0.028 261.692deg);
  --sidebar-primary: oklch(21% 0.034 264.665deg);
  --sidebar-primary-foreground: oklch(98.5% 0.002 247.839deg);
  --sidebar-accent: oklch(96.7% 0.003 264.542deg);
  --sidebar-accent-foreground: oklch(21% 0.034 264.665deg);
  --sidebar-: oklch(92.8% 0.006 264.531deg);
  --sidebar-ring: oklch(70.7% 0.022 261.325deg);
}

.dark {
  --background: oklch(13% 0.028 261.692deg);
  --foreground: oklch(98.5% 0.002 247.839deg);
  --card: oklch(21% 0.034 264.665deg);
  --card-foreground: oklch(98.5% 0.002 247.839deg);
  --popover: oklch(21% 0.034 264.665deg);
  --popover-foreground: oklch(98.5% 0.002 247.839deg);
  --primary: oklch(92.8% 0.006 264.531deg);
  --primary-foreground: oklch(21% 0.034 264.665deg);
  --secondary: oklch(27.8% 0.033 256.848deg);
  --secondary-foreground: oklch(98.5% 0.002 247.839deg);
  --muted: oklch(27.8% 0.033 256.848deg);
  --muted-foreground: oklch(70.7% 0.022 261.325deg);
  --accent: oklch(27.8% 0.033 256.848deg);
  --accent-foreground: oklch(98.5% 0.002 247.839deg);
  --destructive: oklch(70.4% 0.191 22.216deg);
  --: oklch(100% 0 0deg / 10%);
  --input: oklch(100% 0 0deg / 15%);
  --ring: oklch(55.1% 0.027 264.364deg);
  --chart-1: oklch(48.8% 0.243 264.376deg);
  --chart-2: oklch(69.6% 0.17 162.48deg);
  --chart-3: oklch(76.9% 0.188 70.08deg);
  --chart-4: oklch(62.7% 0.265 303.9deg);
  --chart-5: oklch(64.5% 0.246 16.439deg);
  --sidebar: oklch(21% 0.034 264.665deg);
  --sidebar-foreground: oklch(98.5% 0.002 247.839deg);
  --sidebar-primary: oklch(48.8% 0.243 264.376deg);
  --sidebar-primary-foreground: oklch(98.5% 0.002 247.839deg);
  --sidebar-accent: oklch(27.8% 0.033 256.848deg);
  --sidebar-accent-foreground: oklch(98.5% 0.002 247.839deg);
  --sidebar-: oklch(100% 0 0deg / 10%);
  --sidebar-ring: oklch(55.1% 0.027 264.364deg);
}

@layer base {
  * {
    @apply - outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.animated-gradient-text {
  cursor: pointer;

  position: relative;

  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  max-width: fit-content;
  margin: 0 auto;

  font-weight: 500;

  backdrop-filter: blur(10px);

  transition: box-shadow 0.5s ease-out;

  -radius: 1.25rem;
}

.gradient-overlay {
  pointer-events: none;

  position: absolute;
  z-index: 0;
  inset: 0;

  background-size: 300% 100%;

  animation: gradient linear infinite;

  -radius: inherit;
}

.gradient-overlay::before {
  content: "";

  position: absolute;
  z-index: -1;
  top: 0;
  top: 50%;
  left: 0;
  left: 50%;
  transform: translate(-50%, -50%);

  width: calc(100% - 2px);
  height: calc(100% - 2px);

  background-color: #060010;

  -radius: inherit;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.text-content {
  position: relative;
  z-index: 2;

  display: inline-block;

  color: transparent;

  background-clip: text;
  background-clip: text;
  background-size: 300% 100%;

  animation: gradient linear infinite;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 1.6s ease-in both;
}

@media (prefers-reduced-motion: reduce) {
  .animated-gradient-text .gradient-overlay,
  .animated-gradient-text .text-content {
    background-position: center;
    background-size: cover;
    animation: none;
  }
}
